body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../Images/i5BCB25.gif");
    background-repeat: repeat;
}

a:hover {
    text-decoration: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.image-content {
    width: 200px;
    height: 200px;
}

.scroller {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.add-button {
    background-image: url(../Images/add.png);
    background-size: contain;
    margin-top: 5px;
    color: transparent;
    width: 65px;
    height: 65px;
    display: inline-block;
    padding: 0;
    text-decoration: none;
}

    .add-button:hover {
        color: transparent;
    }

.continent {
    display: inline-block;
    margin: 10px;
}


.details-content {
    color: white;
    padding: 10px;
    border: 5px solid #3E444C;
    border-top: 0;
    -webkit-border-bottom-left-radius: 50px;
    border-bottom-left-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    border-bottom-right-radius: 50px;
    /* Fallback for web browsers that don't support RGBa */
    background-color: #000000;
    /* RGBa with 0.6 opacity */
    background-color: rgba(62, 68, 76, 0.68);
    /* For IE 5.5 - 7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    opacity: 0.9;
}

.home-content {
    margin-top: 20px;
    color: white;
    padding: 20px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    /* Fallback for web browsers that don't support RGBa */
    background-color: #000000;
    /* RGBa with 0.6 opacity */
    background-color: rgba(62, 68, 76, 0.68);
    /* For IE 5.5 - 7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    opacity: 0.9;
}

.home-header {
    margin-top: 5px;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: ActiveBorder;
    /* Fallback for web browsers that don't support RGBa */
    background-color: #000000;
    /* RGBa with 0.6 opacity */
    background-color: rgba(62, 68, 76, 1.00);
    /* For IE 5.5 - 7*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    opacity: 0.9;
}

.backgroundless {
}

    .backgroundless > img:hover {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

#feedback {
   position: fixed;
  top: 330px;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 120px;
  line-height: 34px;
  text-align: center;
}

.carousel-inner h1, .carousel-inner p{
     text-shadow: 2px 2px 2px #000000;
}

.carousel-inner h1 {
    font-size: 70px;
}


.carousel-inner p {
    font-size: 20px;
}