body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../Images/background.png");
background-repeat: repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.image-content {
    width: 200px;
    height: 200px;
}

.scroller {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.add-button {
    color:greenyellow;
    width: 45px;
    height: 45px;
    text-align: center;
    display: inline-block;
    border: 3px solid greenyellow;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    padding: 0;
    text-decoration: none;
}

.add-button:hover {
    text-decoration: none;
    color:red;
}

.continent {
    display: inline-block;
    margin: 10px;
}