@model CityExplorer.Web.InputModels.LandmarkInputModel
@{
    ViewBag.Title = "Add Photo";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("AddPhoto", "Landmark", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    <hr />
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right">
                <label for="file" class="control-label">Upload Image:</label>
            </div>
            <div class="col-md-10">
                <input type="file" class="form-control" name="file" id="file" style="width: 100%;" />
            </div>
        </div>
        <br />
        <input type="submit" value="Upload" class="btn btn-primary btn-lg center-block" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}