@model CityExplorer.Web.ViewModels.LandmarkViewModel
@{
    ViewBag.Title = "Landmarks";
}

<div class="row">
    <div class="col-md-9">
        <h1>@Model.Name</h1>
    </div>
    @if (Request.IsAuthenticated)
    {
        <div class="col-md-3 text-right">
            <h1>@Html.ActionLink("+", "AddPhoto", "Landmark", new { id = Model.Id }, new { @class = "add-button" })</h1>
        </div>
    }
</div>
<div class="row">
    @foreach (var photo in Model.Photos)
    {
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class="thumbnail">
                <img src="@photo.Url" class="img-responsive" alt="@Model.Name image" />
            </div>
        </div>
    }
</div>
