@model IEnumerable<CityExplorer.Web.ViewModels.CommentViewModel>
<h2>Comments</h2>
<div class="scroller">
    @foreach (var comment in Model.OrderBy(c => c.DateCreated))
    {
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <em> @comment.User.UserName</em>
                    </div>
                    <div class="col-md-5 text-right">commented on @comment.DateCreated</div>
                </div>
                <div class="row">

                    <div class="col-md-11">
                        <p>@comment.Text</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>